
.big{
    color: blue;
    width: 300px;
}
#b325{
    border: 1px solid green;
    width: 300px;
}
.b326{
    border: 1px solid green;
    width: 300px;
}
p {
    background: yellow;
    width: 300px
}

